[submodule "src/spot_ros2"]
	path = src/spot_ros2
	url = https://github.com/bdaiinstitute/spot_ros2
	shallow = true
[submodule "src/ros2-ublox-zedf9p"]
	path = src/ros2-ublox-zedf9p
	url = https://github.com/gokulp01/ros2-ublox-zedf9p.git
	shallow = true

